node_modules/
.env
*.sqlite
.DS_Store
npm-debug.log
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEsImVtYWlsIjoia3ViZXJAdGVzdC5jb20iLCJpYXQiOjE3ODE5NDM2NzEsImV4cCI6MTc4MjU0ODQ3MX0.911GzOYYKtE7moASNEhjN0DuCRzYnPR9gp4oIeLxI3A